h1 {
    color: whitesmoke;
    text-align: center;
    background-color: dodgerblue;
}

.uv-index-number-high {
    background-color: red;
    color: whitesmoke;
}

.uv-index-number-med {
    background-color: yellow;
}
.uv-index-number-low {
    background-color: yellowgreen;
}

#past-searches {
    display: flex;
    flex: auto;
    flex-direction: column;
}