body {
    background-color: whitesmoke;
}

h1 {
    color: whitesmoke;
    text-align: center;
    background-color: dodgerblue;
}

.uv-index-number-high {
    background-color: red;
    color: whitesmoke;
    padding: 2px
}

.uv-index-number-med {
    background-color: yellow;
}
.uv-index-number-low {
    background-color: yellowgreen;
}

#past-searches {
    display: flex;
    flex: auto;
    flex-direction: column;
}

.day-name-five {
    font-weight: 500;
    /* text-align: center; */
}

.temp-name-five, .wind-name-five, .humidity-name-five {
    font-weight: 100;
    /* text-align: center; */
}
